.main{
    display: flex;
    justify-content: center;
    align-items: center;

  background-color: black;
  color: white;
}
.list{
    list-style-type: none;
    display: flex;
    gap:1rem;
    text-decoration: none;

}
.list:hover{
    cursor: pointer;
}